@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root{
    --white:white;
    --black:black;
    --light-blue:rgba(208, 234, 247, 0.534);
    --red:rgb(247, 27, 27);
    --green: rgb(14, 218, 14);
    --light-bg: #eee;
    --main-color: #2980b9;
}

*{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.container{
    display: flex;
    align-items: center;
    background-color: var(--light-bg);
    justify-content: center;
    font-size: 1.2rem;
}

.vote_form{
    height: 800px;
    width: 50%;
    display: flex;
    padding: 5rem 5rem;
    background-color: var(--light-blue);
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    border: .1rem solid rgba(0, 0, 0, .2);
    text-transform: capitalize;
}

h3{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.2rem;
}

li{
    padding:1.8rem;
}

select{
    border-radius: .5rem;
    padding: 1.2rem;
    background-color: var(--light-bg);
    font-size: 1rem;
    color: var(--black);
}

.btn{
    margin-top:1.8rem;
    display: inline-block;
    padding: .8rem 1.8rem;
    cursor: pointer;
    color: var(--white);  
    background-color: var(--main-color);
    border-radius: .5rem;
    text-transform: capitalize;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn:hover{
    background-color: var(--green);
}

h2{
    font-size: 3rem;
    color: var(--green);
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

span{
    font-weight: bold;
}

p{
    font-size: 1rem;
}

p{
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1.2rem;
    background-color: var(--light-bg);
    font-size: 1rem;
    color: var(--black);
}

.msg{
    height: 200px;
    display: flex;
    padding: 5rem 5rem;
    background-color: rgba(230, 255, 202, 0.74);
    border-radius: 25px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    border: .1rem solid rgba(0, 0, 0, .2);
    text-transform: capitalize;
}

.result{
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
    background-color: var(--light-blue);
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    border: .1rem solid rgba(0, 0, 0, .2);
    text-transform: capitalize;
}

h4{
    padding : 5px 5px;
    font-size: 1.4rem;
}

h1{
    text-align: center;
    margin-top: 5rem;
    margin-bottom:4rem;
    font-size: 3rem;
}

.win{
    color: var(--green);
    font-size: 2.8rem;
}